.calendar-wrapper {
  height: calc(100vh - 60px);
  display: flex;

  #Calendar {
    flex-basis: 50vw;
  }

  #AllEventsMap {
    flex-basis: 50vw;
  }

  .event-list-wrapper {
    flex-basis: 50vw;
  }
}
