.calendar-wrapper {
  height: calc(100vh - 60px);
  display: flex;

  #Calendar {
    //flex-grow: 1;
    flex-basis: 50vw;
  }

  .event-list-wrapper {
    //flex-grow: 1;
    flex-basis: 50vw;
  }
}