@import "globals";

.note-card {
  padding: .3rem .3rem .3rem .3rem;
}

#text-area {
  box-sizing: border-box;
  border: 2px solid $light-blue;
  border-radius: 4px;
  background-color: $background-color;
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  color: $font-blue;
  background-color: $light-gray;
  margin-left: 8px;
  margin-bottom: 8px;
  alignment: right;
}

.title {
  color: #144c5c;
  font-size: 18px;
  font-weight: bold;
}